
#digital-clock {
    background-color:aqua;
    width:  35%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 64px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0, 0, 0.2);
}